{{> adminheader}}
  <title>Banner Management</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .banner-image {
      max-width: 200px;
      max-height: 100px;
    }
  </style>
</head>
<body>
  <div class="container py-3">
    
    
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex justify-content-between">
        <h3><b>Create Banner</b></h3>
        <button class="btn btn-outline-success btn-sm" onclick="window.location.href='/admin/managebanner'">Manage Banner</button>
        </div>
        <form action="" method="POST"  enctype="multipart/form-data" >
        <p style="color: green;">{{message}}</p>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="image" required>
          </div>
          
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
          </div>
          
          
          <div class="form-group">
            <label for="header">header</label>
            <input type="text" class="form-control" id="headers" name="header" required>
          </div>
          
          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" name="link" required>
          </div>
          
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
      
     
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com"></script>
{{> adminfooter}}