{{> userheader}}
<link rel="stylesheet" href="css/userlogin.css" type="text/css">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active underlineHover">Sign In </h2>
    <h2 class="inactive underlineHover"><a href="http://localhost:3000/signup" class="signup"> Sign Up</a> </h2>

    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="login" required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
      <div>
        <p style="color: red;">{{message1}}</p>
      </div>
      <div>
        <p style="color: red;">{{message2}}</p>
      </div>
      <div>
        <p style="color: red;">{{message3}}</p>
      </div>

      <input type="submit" class="fadeIn fourth" value="Log In"><br>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/forgotpassword">Forgot Password?</a>
    </div>

  </div>
</div>
{{> userfooter}}